<div class="row">
  <div class="col-xs-6">
    <h1>All Messages</h1>
  </div>
  <div class="col-xs-6 text-right">
    <%= link_to "New Messages", messages_inbox_unread_path, class: "btn btn-info btn-lg margin_top" %>
  </div>
</div>
<div class="message_list margin_top">
  <div id="user_messages">
    <%= render partial: "user_messages", object: @all_messages, as: 'messages' %>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 text-center">
    <%= will_paginate @all_messages, :renderer => BootstrapPagination::Rails %>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="message_modal" tabindex="-1" role="dialog" aria-labelledby="messageModal">

</div>
