<div class="modal-dialog">
  <div class="modal-content">
  <div class="modal-header">
    <h3>Remove Coach</h3>
  </div>
  <div class="modal-body">
  <ul class="errors"></ul>
  Are you sure you wish to remove <b><%= @user_coach.coach.email %></b> as your coach?
  </div>
  <div class="modal-footer">
    <%= link_to "Yes, Remove This Coach", user_coach_path(@user_coach), method: :delete, remote: true, class: "btn btn-danger" %>
    <%= link_to "No, Please Don't", "#", class: "btn btn-default", data: { dismiss: "modal" } %>
  </div>
  </div>
</div>
