<div class="planner_workout alert<%= workout.alert_class %> draggable" data-workout-id="<%= workout.id %>" data-macrocycle-workout-id="0" data-event-id="0">
  <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <%= workout.label %>
</div>
