<div class="row">
  <div class="col-xs-9">
    <%= render "form" %>
  </div>
  <div class="col-xs-3" id="my_workouts">
    <h2>My Workouts</h2>
    <% @workouts.each do |workout| %>
      <div class="planner_workout alert<%= workout.alert_class %>" data-workout-id="<%= workout.id %>">
        <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <%= workout.label %>
      </div>
    <% end %>
  </div>
</div>
