<div class="row">
  <div class="col-xs-12">
    <h1 class="inline_block valign_middle margin_right">Update Plan Template</h1>
    <p>Create a training cycle template that can be reused multiple times and optionally set a start date to add all the workouts directly to your schedule.</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-9 col-xs-6">
    <%= render "form" %>
  </div>
  <div class="col-sm-3 col-xs-6" id="my_workouts">
    <h3>My Workouts</h3>
    <p>(you can drag your workouts to the calendar and rearrange them)</p>
    <% @workouts.each do |workout| %>
      <div class="planner_workout alert<%= workout.alert_class %>" data-workout-id="<%= workout.id %>" data-macrocycle-workout-id="0" data-event-id="0">
        <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <%= workout.label %>
      </div>
    <% end %>
  </div>
</div>
