<div class="row">
  <div class="col-xs-12">
    <h1 class="inline_block valign_middle margin_right">
      <%= @item_share.smart_item_type %>
      <small>from <%= @item_share.sharer.email %></small>
    </h1>
    <p>You've received a shared <%= @item_share.smart_item_type.downcase %>.</p>
  </div>
</div>
<div class="row">

</div>
