<div class="row">
  <div class="col-xs-12">
    <h1>Users</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <table class="table table-striped" id="users">
      <thead>
        <tr>
          <th>User ID</th>
          <th>Email</th>
          <th>Name</th>
          <th></th>
        </tr>
      </thead>
      <tbody class="user_list">
        <%= render "index" %>
      </tbody>
    </table>
  </div>
</div>
