<div class="row large_margin_bottom">
  <div class="col-xs-12">
    <h1>Welcome</h1>
  </div>
</div>
<div class="row">
  <div class="col-sm-8">
    <p class="lead">
      We all have our tried-and-true training routines but how well do they actually work?
      Are there some that we should be focusing on more than others?
      The answers (or at least the hints) to questions like this are the aim of this site.
      By tracking your training plan along with your climbing progress, we will get a much better understanding of the long-term effects of the workouts you perform and you can determine whether that cycle is worth performing again, or if it needs some tweaking.
    </p>
    <p class="lead">
      If we can gather a reasonable amount of data, the secondary goal for the site will be to maintain a catalog of workouts and their efficacy for different users so that someone looking for workout ideas can search through the list and find those that have the best results for climbers of similar levels.
    <p class="lead">
      I am beginning to realize that there is very little instant gratification as the site stands at the moment, but please stick with it and the long-term benefits will be worthwhile.
      That being said, the site is very much a work in progress, so please don't hesitate to send me a <%= link_to "comment or suggestion", controller: "comments", action: "new", remote: true %>.
    </p>
  </div>
  <div class="col-sm-4">

  </div>
</div>
