<div class="row large_margin_bottom">
  <div class="col-xs-12">
    <h1>Climber.Training Terms of Service</h1>
  </div>
</div>

<div class="row large_margin_bottom">
  <div class="col-xs-12">
    <h2>1. General Rules</h2>
    <p>
        These Terms govern your use of the Climber.Training Web site environment, which provides an easy-to-use, comprehensive online destination offering Brand Portals and providing information regarding brands and their services and products tailored to the specific needs of our users (the “Program” or "Service"). This includes, but is not limited to, tagging, want it (people identifying products they would like), comments, tips, photos, reviews, social media integration (mentions as well as Likes or Follows).  These Terms, together with any such additional terms and conditions, are referred to as the "Terms".
    </p>

    <h2>2. Modification of Terms</h2>
    <p>
       The Climber.Training Web site is owned by Climber.Training (the "Company").  The Company reserves the right, in its sole discretion, to change, modify, add, or remove portions of these Terms at any time, effective immediately upon notice published on the Site.  We suggest that you check these terms periodically for changes. Your continued use of the Web site constitutes your binding acceptance of these terms and conditions, including any changes or modifications made by the Company as discussed above.  If at any time these Terms are no longer acceptable to you, you must immediately cease all use of the Web site.
    </p>

    <h2>3. Modification of Website, Program or Services</h2>
    <p>
        The Company may change, suspend or discontinue any aspect of the Web site, Program or Service at anytime, including the availability of any Web site, Program or Service, features, database or content.  The Company may also impose limits on certain features and services or restrict your access to all or parts of the Web site, Program, or Service without notice or liability.
    </p>

    <h2>4. Privacy Policy</h2>
    <p>
        Any registration data and certain other information about you are subject to our privacy policy.  For more information, click here to view our <a href="<%= url_for controller: '/home', action: 'privacy_policy' %>">Privacy Policy</a>.
    </p>

    <h2>5. Use of Content</h2>
    <p>
        You acknowledge that the Web site, Program or Service contain information, software, photographs, audio and video clips, graphics, links and other material (collectively, the "Content") that are the property of the Company or third parties who have authorized the appearance of their content on this Site.  U.S. and international copyright, trademark or other intellectual property laws protect all Content.  All rights in Content are reserved by the Company.  You agree to comply with any additional copyright notices, information, or restrictions contained in any Content available on or accessed through the Web site, Program or the Service.  Users of the Web site, Program or Service may use the Content only for their personal, non-commercial use.
    </p>
    <p>
        You shall not store electronically any significant portion of any Content.  Except as expressly permitted by copyright laws, no copying, storage, redistribution or publication of any Content is permitted without the express written consent of the Company or the owners of such Content or their authorized representatives, if other than the Company.
    </p>
    <p>
        You may not modify, publish, transmit, transfer or sell, reproduce, create derivative works from, distribute, perform, display, or in any way exploit any of the Content, in whole or in part, except as expressly permitted in these Terms.  Content consisting of downloadable software may not be reverse engineered unless specifically authorized by the Company.
    </p>
    <p>
        You, not the Company or the party credited as the provider of the Content, are liable for any damage resulting from any infringement of copyrights, proprietary intellectual property rights or any other harm arising from your failure to abide by the provisions by this section.
    </p>

    <h2>6. Managing Content</h2>
    <p>
        You may post on the Company’s Program or Service any Content owned by you (such as your original statements), Content for which you have received express permission from the owner, and Content in the public domain on any Forum or Blog sections.  You assume all risk and responsibility for determining whether any Content is in the public domain.  You grant to the Company an irrevocable, perpetual, non-exclusive, fully-paid, worldwide license to use, edit, copy, publish, distribute, translate, and otherwise use in any medium any Content that you place on the Program or Service without compensation to you.  You represent and warrant that you are authorized to grant all rights set forth in the preceding sentence.
    </p>
    <p>
        The Company does not and cannot review all Content posted by users on the Program or Service and is not responsible for such Content.  However, the Company reserves the right to delete, move or edit any Content that it may determine, in its sole discretion, violates these Terms or is otherwise unacceptable.  You shall remain solely responsible for all Content posted by you.  The Company shall have the right, but not the obligation, to correct any errors or omissions in any Content, as it may determine in its sole discretion.
    </p>
    <p>
        You are solely responsible for all Content you post on the Program or Service. You can be held legally liable for all Content you post on the Service.  Without limiting the foregoing, you may be held legally accountable if any Content you post on the Service includes, for example, material protected by copyright, trademark, patent or trade secret law without the permission of the author or owner, or defamatory comments.  The Company is not responsible to you for any loss of data resulting from network or system outages, file corruption, viruses or any other reasons.
    </p>

    <h2>7. Rules of Conduct for Posting Content</h2>
    <p>
        You shall not post on the Service any Content that is
    </p>
    <p>
        a) libelous, defamatory, obscene, pornographic, abusive, harassing or threatening;<br/>
        b) contains viruses or other contaminating or destructive features;<br/>
        c) violates the rights of others, such as Content that infringes any copyright, trademark, patent, trade secret or violates any right of privacy or publicity; or<br/>
        d) otherwise violates any applicable law.  You may not post on the Program or Service any links to any external Internet Sites that are obscene or pornographic.  You shall not use the Program or Service for any commercial purpose, to distribute any advertising or solicitation of funds or goods and services or to solicit users to join competitive online services.
    </p>

    <h2>8. Endorsement</h2>
    <p>
        The Company does not represent or endorse the accuracy or reliability of any content posted and you acknowledge that any reliance upon such Content shall be at your own risk.  Any Content placed online by users are the views of the user posting the statement, and do not represent the views of the Company.
    </p>
    <p>
        The Program or Service may contain links to Sites on the Internet which are owned and operated by third parties (the "External Sites").  You acknowledge that the Company is not responsible for the availability of, or the Content located on or through, any External Site.  You should contact the Site Administrator or Webmaster for any such External Site if you have any concerns regarding such links of the Content located on such External Site.
    </p>

    <h2>9. Limitation of Liability and Disclaimer of Warranties</h2>
    <p>
        NEITHER THE COMPANY, NOR ANY OF ITS RESPECTIVE OFFICERS, DIRECTORS, EMPLOYEES, AGENTS, SUPPLIERS, CUSTOMERS OR ANY CONTRIBUTOR, (COLLECTIVELY THE "COMPANY PARTIES") GUARANTEES THE ACCURACY, COMPLETENESS OR USEFULNESS OF ANY OF THE CONTENT, NOR ITS FITNESS FOR ANY PARTIULAR PURPOSE.  NONE OF THE COMPANY PARTIES WILL BE LIABLE FOR ANY LOSS OR DAMAGE CAUSED BY YOUR RELIANCE ON INFORMATION OBTAINED THROUGH THE SERVICE.  IT IS YOUR RESPONSIBILITY TO EVALUATE THE ACCURACY, COMPLETENESS OR USEFULNESS OF ANY INFORMATION, INSTRUCTION, OPINION OR ADVICE CONTAINED IN THE CONTENT.
    </p>
    <p>
        THE SERVICES BEING PROVIDED TO YOU ARE ON AN "AS IS" AND "BEST EFFORTS" BASIS.  NONE OF THE COMPANY PARTIES WARRANT THAT THE SERVICE WILL BE UNINTERRUPTED OR ERROR FREE OR THAT THE SERVICE AND THE SERVER ARE FREE OF COMPUTER VIRUSES OR OTHER HARMFUL ELEMENTS.  NONE OF THE COMPANY PARTIES MAKE ANY WARRANTIES WITH RESPECT TO ANY RESULT THAT MAY BE OBTAINED FROM THE USE OF THE SERVICE.  ALL THE COMPANY PARTIES HEREBY DISCLAIM ALL WARRANTIES, EXPRESS OR IMPLIED, IN CONNECTION WITH THE SERVICE AND THE CONTENT, INCLUDING, WITHOUT LIMITATION, THE IMPLIED WARRANTY OF MERCHANTABILTIY AND FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGMENT OF THIRD-PARTY RIGHTS.
    </p>
    <p>
        NO ADVICE, INSTRUCTION OR INFORMATION GIVEN BY ANY OF THE COMPANY PARTIES SHALL CREATE A WARRANTY, NOR SHALL YOU RELY ON SUCH INFORMATION, INSTRUCTION OR ADVICE.  IN NO EVENT, SHALL ANY OF THE COMPANY PARTIES BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL OR CONSEQUENTIAL DAMAGES ARISING OUT OF OR RELATING TO THE CONTENT OR SERVICE, WHETHER BASED ON WARRANTY, CONTRACT, TORT OR ANY OTHER LEGAL THEORY.  BECAUSE SOME JURISDICTIONS MAY NOT ALLOW THE EXCLUSION OR LIMIATIONS OF LIABILITY FOR NEGLIGENCE, CONSEQUENTIAL OR INCIDENTAL DAMAGES, IN SUCH JURIDICTIONS THE COMPANY PARTIES LIABILITY IS LIMITED TO THE GREATEST EXTENT PERMITTED BY LAW.  YOUR SOLE REMEDY FOR DISSATISFACTION WITH THE SERVICE IS TO STOP USING THE SERVICE.
    </p>

    <h2>10. Indemnity</h2>
    <p>
        You agree to indemnify and hold harmless the Company and its employees, officers, members, directors, owners, agents, information providers, Customers and licensors, to the fullest extent lawful, from and against all loss, liability, claim, damage, cost, judgment, penalty and expense (including all attorney's fees), promptly as incurred, directly or indirectly based upon, or arising out of or in connection with your violation of these Terms.  The Company reserves the right to assume the exclusive defense and control of any matter otherwise subject to indemnification by you, and in such case, you agree to cooperate with the Company's defense of such claim and to reimburse the Company for the costs and expenses of such defense.
    </p>

    <h2>11. Termination of Service</h2>
    <p>
        You agree that the Company, in its sole discretion, may terminate your access or use of the Service, and remove and discard any Content within the Service, for any reason, including, without limitation, for lack of use or if the Company believes that you have violated or acted inconsistently with the Terms.  The Company reserves the right, in its sole discretion, to restrict, suspend or terminate your access to all or any part of the Service at any time for any reason without prior notice or liability.  The Company may suspend or discontinue all or any aspect of the Service at any time, including the availability of any feature, database, or Content, without prior notice or liability.
    </p>

    <h2>12. Dealing with Advertisers & Affiliate Relationships</h2>
    <p>
        Your correspondence or business dealings with, or participation in the promotions of  advertisers and affiliate relationships found on or through the Service, including payment and delivery of related goods or services, and any other terms, conditions, warranties or representations associated with such dealings, are solely between you and such advertiser or affiliate.  You agree that the Company shall not be responsible or liable for any loss or damage of any sort incurred as the result of any such dealings or as the result of the presence of such advertisers on the Service.
    </p>

    <h2>13. Miscellaneous</h2>
    <p>
        These Terms shall be construed in accordance with the laws of the State of Iowa, and the parties irrevocably consent to bring any action to enforce these Terms in the federal or state court of Polk County, Iowa.  These Terms constitute the entire agreement between you and us with respect to the subject matter hereof.  The rights and obligations provided herein may not be assigned or delegated.  If any inconsistency exists between the terms of these Terms and Conditions and any additional terms and conditions posted on the Service, such terms shall be interpreted as to eliminate any inconsistency, if possible, and otherwise, the additional terms and conditions shall control.
    </p>
  </div>
</div>
