<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading pointer" role="tab" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
      <h4 class="panel-title">
        Current Events
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        <div class="row">
          <% @current_events.each_with_index do |event, index| %>
            <%= render event %>
            <% if index % 4 == 3 %>
          </div><div class="row">
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>


  <div class="panel panel-default">
    <div class="panel-heading pointer" role="tab" class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
      <h4 class="panel-title">
          Upcoming Events
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        <div class="row">
          <% @upcoming_events.each_with_index do |event, index| %>
            <%= render event %>
            <% if index % 4 == 3 %>
          </div><div class="row margin_bottom">
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>


  <div class="panel panel-default">
    <div class="panel-heading pointer" role="tab" class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
      <h4 class="panel-title">
        Past Events
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
        <div class="row">
          <% @past_events.each_with_index do |event, index| %>
            <%= render event %>
            <% if index % 4 == 3 %>
          </div><div class="row margin_bottom">
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
