<div class="col-xs-12 calendar margin_bottom">
  <%= render partial: 'events/calendar', locals: {coach_viewing: defined?(coach_viewing) ? coach_viewing : false} %>
</div>

<div class="panel-group" id="events" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading pointer" role="tab" data-toggle="collapse" data-parent="#events" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
      <h4 class="panel-title">
        Current Events
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body current_events">
        <%= render partial: 'events/current_events', locals: {coach_viewing: defined?(coach_viewing) ? coach_viewing : false} %>
      </div>
    </div>
  </div>


  <div class="panel panel-default">
    <div class="panel-heading pointer" role="tab" class="collapsed" role="button" data-toggle="collapse" data-parent="#events" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
      <h4 class="panel-title">
          Upcoming Events
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body upcoming_events">
        <%= render partial: 'events/upcoming_events', locals: {coach_viewing: defined?(coach_viewing) ? coach_viewing : false} %>
      </div>
    </div>
  </div>


  <div class="panel panel-default">
    <div class="panel-heading pointer" role="tab" class="collapsed" role="button" data-toggle="collapse" data-parent="#events" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
      <h4 class="panel-title">
        Past Events
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body past_events">
        <%= render partial: 'events/past_events', locals: {coach_viewing: defined?(coach_viewing) ? coach_viewing : false} %>
      </div>
    </div>
  </div>
</div>
