<div class="row">
  <div class="col-sm-8">
    <h1>Schedule</h1>
  </div>
  <div class="col-xs-4 text-right">
    <%= link_to raw("<span class='glyphicon glyphicon-plus'></span> Add To Schedule"), new_event_path, remote: true, class: "btn btn-success btn-lg margin_top" %>
    <%#= link_to raw("<span class='glyphicon glyphicon-plus'></span> Record Gym Session"), '/gym_session', remote: true, class: "btn btn-primary btn-lg margin_top" %>
  </div>
</div>

<div class="event_list margin_top">
  <%= render "index" %>
</div>

<!-- Modal -->
<div class="modal fade" id="event_modal" tabindex="-1" role="dialog" aria-labelledby="eventModal">

</div>
