<div class="row">
  <div class="col-xs-12">
    <h1>New Messages</h1>
  </div>
</div>
<div class="message_list margin_top">
  <div class="panel-group" id="user_messages" role="tablist" aria-multiselectable="true">
    <%= render partial: "user_messages", object: @new_messages, as: 'messages' %>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <h1>All Messages</h1>
  </div>
</div>
<div class="message_list margin_top">
  <div class="panel-group" id="user_messages" role="tablist" aria-multiselectable="true">
    <%= render partial: "user_messages", object: @all_messages, as: 'messages' %>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="message_modal" tabindex="-1" role="dialog" aria-labelledby="messageModal">

</div>
