<div class="modal-dialog">
  <div class="modal-content">
  <div class="modal-header">
    <h3>Delete Microcycle</h3>
  </div>
  <div class="modal-body">
  <ul class="errors"></ul>
  Are you sure you wish to delete <b><%= @microcycle.label %></b>?
  </div>
  <div class="modal-footer">
    <%= link_to "Yes, Delete This Microcycle", microcycle_path(@microcycle), method: :delete, remote: true, class: "btn btn-danger" %>
    <%= link_to "No, Please Don't", "#", class: "btn btn-default", data: { dismiss: "modal" } %>
  </div>
  </div>
</div>
