<div class="modal-dialog modal-lg" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title" id="myModalLabel">Edit Goal<% if @goal.parent_goal.present? %> (Parent Goal: <%= link_to @goal.parent_goal.label, edit_goal_path(@goal.parent_goal), remote: true %>)<% end %></h4>
    </div>
    <%= render "form" %>
  </div>
</div>
