/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= stub print
 *= require jquery-ui
 */

 // "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
 @import "bootstrap-sprockets";
 @import "bootstrap";

 @import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,300italic|Oswald:400,700);

 @import "chartery";

 // Responsive Breakpoints
$screen-sm-min: 768px;
$screen-xs-max: ($screen-sm-min - 1);
$screen-md-min: 992px;
$screen-sm-max: ($screen-md-min - 1);
$screen-lg-min: 1200px;
$screen-md-max: ($screen-lg-min - 1);

$background_light: #fffffa;
$background_medium: #E0E0E0;
$background_dark: #757575;

$divider_color: rgba(0, 0, 0, 0.12);
$divider_color_light: rgba(255, 255, 255, 0.8);

$text_dark: rgba(0, 0, 0, 0.87);
$text_medium: rgba(0, 0, 0, 0.54);
$text_light: rgba(0, 0, 0, 0.26);
$text_lighter: rgba(0, 0, 0, 0.12);
$text_gray: #a8a9ab;
$text_protect_light: rgba(255, 255, 255, 0.7);

$shader_dark: rgba(24, 47, 25, 0.9);
$shader: rgba(24, 47, 25, 0.8);
$shader_light: rgba(24, 47, 25, 0.4);
$shader_hover: rgba(24, 47, 25, 0.1);
$shader_black: rgba(0, 0, 0, 0.5);
$shader_white: rgba(255, 255, 255, 0.8);
$shader_white_light: rgba(255, 255, 255, 0.2);

$cyan: #00BCD4;
$cyan_dull: #31a8b7;
$cyan_dark: #0097A7;
$cyan_translucent: rgba(0, 188, 212, 0.8);
$cyan_light: #a5dfe6;
$orange: #FF9800;
$orange_dark: #EF6C00;
$orange_translucent: rgba(255, 152, 0, 0.8);
$white: #FFFFFF;

$font_stack: "Lato", sans-serif;
$font_stack_alt: "Oswald", sans-serif;


@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

@mixin box-shadow($x_offset, $y_offset, $blur, $color){
    box-shadow: $x_offset $y_offset $blur $color;
    -webkit-box-shadow: $x_offset $y_offset $blur $color;
    -moz-box-shadow: $x_offset $y_offset $blur $color;
}


/* ============ Animations */


@-moz-keyframes spinnerRotate {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spinnerRotate {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spinnerRotate {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

.spinning {
  animation: spinnerRotate 2s infinite linear;
	-moz-animation: spinnerRotate 2s infinite linear;
	-webkit-animation: spinnerRotate 2s infinite linear;
}


/* ============ Material Design Aspects */


.z_depth_1{
    @include box-shadow(0, 1px, 1px, rgba(0, 0, 0, 0.24));
    z-index: 1;
}

.z_depth_2{
    @include box-shadow(0, 3px, 3px, rgba(0, 0, 0, 0.24));
    z-index: 2;
}

.z_depth_3{
    @include box-shadow(0, 10px, 10px, rgba(0, 0, 0, 0.24));
    z-index: 3;
}

.z_depth_4{
    @include box-shadow(0, 14px, 14px, rgba(0, 0, 0, 0.24));
    z-index: 4;
}

.z_depth_5{
    @include box-shadow(0, 19px, 19px, rgba(0, 0, 0, 0.24));
    z-index: 5;
}



/* ============ Bootstrap Elements */

a.btn:visited {
  color: $white;
}

.btn-primary{
    background-color: $cyan;
    border-color: $cyan_dark;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary{
    background-color: $cyan_dark;
    border-color: $cyan_dark;
}

.row>.less_padding, .form-group>.less_padding{
  padding-left: 5px;
  padding-right: 5px;

  &>.row{
    margin-left: -5px;
    margin-right: -5px;
  }
}

.panel-orange {
  border-color: #F9CBB2;

  > .panel-heading {
    color: #8A563B;
    background-color: #FFE2C9;
    border-color: #F9CBB2;
  }
}

.alert-default {
  color: #333333;
  background-color: #f5f5f5;
  border-color: #dddddd;
}

.alert-orange {
  color: #8A563B;
  background-color: #FFE2C9;
  border-color: #F9CBB2;
}

.label-orange {
  background-color: $orange;
}

.btn.btn-wide{
  padding-left: 24px;
  padding-right: 24px;
}

//Fixes zoom-in on ipad pro
body {
  padding-right: 0px !important
}

.modal-open {
  overflow-y: auto;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

//calendar
.col-xs-1.calendar_day{
  width: 14.28571428%;
  padding-left: 5px;
  padding-right: 5px;
}

.calendar_day .alert{
  padding-top: 8px;
  padding-bottom: 8px;
  margin-bottom: 5px;
}

.form-control.inline_block{
  width: auto;
}

.form-control.short_input{
  max-width: 120px;
}

.carousel-caption {
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  padding-left: 15%;
  padding-right: 15%;
  padding-bottom: 30px;
  box-sizing: border-box;
  background-color: $shader_black;
}

.carousel-indicators {
  bottom: 0px;
}

#wysiwyg_editor {
  overflow:scroll; min-height:300px;
}

/* ============ General Elements */
html, body{
  height: 100%;
}

body{
    color: $text_dark;
    background-color: $background_light;
    font-family: $font_stack;
    font-weight: 300;
    font-size: 16px;
}

body:after{
    display:none;
    content: image-url("spinner.png");
}

h1, h2, h3, h4, h5, h6{
    font-family: $font_stack;

    .small, small{
        color: $text_gray;
    }
}

.alt_font, h1.alt_font, h2.alt_font, h3.alt_font, h4.alt_font, h5.alt_font, h6.alt_font, h1 .alt_font, h2 .alt_font, h3 .alt_font, h4 .alt_font, h5 .alt_font, h6 .alt_font{
    font-family: $font_stack_alt;
}

.text-muted{
    color: $text_gray;
}


.thin, h1.thin, h2.thin, h3.thin, h4.thin, h5.thin{
    font-family: $font_stack;
    font-weight: lighter;
}

.normal_weight, h1.normal_weight, h2.normal_weight, h3.normal_weight, h4.normal_weight, h5.normal_weight{
    font-weight: normal;
}

.smaller{
    font-size: 0.8em;
    line-height: 1.375em;
}

a, a:active{
    text-decoration: none;
    color: $cyan;
}

a:hover{
    text-decoration: none;
    color: $cyan_dark;
}

a.row, a.block, img.block{
    display: block;
}

a.disable_click {
  cursor: default;
}

.inline_block{
    display: inline-block;
}

.float_none{
    float: none;
}

.valign_middle{
    vertical-align: middle;
}

.valign_top{
    vertical-align: top;
}

.valign_text_top{
    vertical-align: text-top;;
}

.valign_bottom{
    vertical-align: bottom;
}

.valign_text_bottom{
    vertical-align: text-bottom;;
}

.pointer{
    cursor: pointer;
}

.cyan, a.cyan:hover{
    color: $cyan;
}

.cyan_bg{
    background-color: $cyan;
    color: #fff;
}

.cyan_bg.translucent{
    background-color: $cyan_translucent;
}

.orange, a.orange:hover{
    color: $orange;
}

.orange_bg{
    background-color: $orange;
    color: #fff;
}

.orange_bg.translucent{
    background-color: $orange_translucent;
}

.white, a.white:hover, a.white:focus, a.white:active{
    color: #fff;
}

.text_dark, a.text_dark:hover{
    color: $text_dark;
}

.white_bg{
    background-color: #fff;
}

.shader_bg{
    background-color: $shader;
}

.medium_bg{
    background-color: $background_medium;
}

a.shader_bg:hover{

}

.shader_light_bg{
    background-color: $shader_light;
    color: #fff;
}

a.shader_light_bg:hover{
    background-color: $shader_white_light;
}

.shader_black_bg{
    background-color: $shader_black;
    color: #fff;
}

.no_margin{
    margin: 0 !important;
}

.no_margin_top{
    margin-top: 0 !important;
}

.no_margin_right{
    margin-right: 0 !important;
}

.no_margin_bottom{
    margin-bottom: 0 !important;
}

.no_margin_left{
    margin-left: 0 !important;
}

.margin_all{
    margin: 1em;
}

.margin_top{
    margin-top: 1em;
}

.margin_right{
    margin-right: 1em;
}

.margin_bottom{
    margin-bottom: 1em;
}

.margin_left{
    margin-left: 1em;
}

.large_margin_all{
    margin: 2em;
}

.large_margin_top{
    margin-top: 2em;
}

.large_margin_right{
    margin-right: 2em;
}

.large_margin_bottom{
    margin-bottom: 2em;
}

.large_margin_left{
    margin-left: 2em;
}

.no_padding{
    padding: 0 !important;
}

.no_padding_top{
    padding-top: 0 !important;
}

.no_padding_right{
    padding-right: 0 !important;
}

.no_padding_bottom{
    padding-bottom: 0 !important;
}

.no_padding_left{
    padding-left: 0 !important;
}

.loading:before{
    content:"";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 500;
    background-color: $shader_white;
}

.loading:after{
  content:"";
  display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -50px 0 0 -50px;
	height: 100px;
	width: 100px;
	text-indent: 250px;
	white-space: nowrap;
	overflow: hidden;
	-webkit-mask-image: image-url("spinner.png");
	background-color: $cyan;
	animation: spinnerRotate 2s infinite linear;
	-moz-animation: spinnerRotate 2s infinite linear;
	-webkit-animation: spinnerRotate 2s infinite linear;
	z-index: 501;
}

.placeholder{
  background-color: $background_medium;
  @include border-radius(5px);
  font-family: $font_stack_alt;
  font-size: 4em;
  font-weight: bold;
  text-align: center;
  width: 120px;
  height: 120px;
  max-width: 100%;

  span{
    display: inline-block;
    vertical-align: middle;
  }

  &:after{
    content: "";
    display: inline-block;
    width: 0px;
    height: 100%;
    vertical-align: middle;
  }
}


.hidden_field{
    position: absolute;
    visibility: hidden;
}

.editable_region{
  .static_display{
    overflow: hidden;
  }

  .edit_display{
    display: none;
  }

  .delete_link{
    display: none;
  }

  .progress{
    margin-top: 12px;
    margin-bottom: 12px;
  }

}

.editable_region.editing{
  .static_display{
    display: none;
  }

  .edit_display{
    display: block;
    overflow: hidden;
  }

  .delete_link{
    display: inline;
  }
}

input:-webkit-autofill {
    -webkit-box-shadow:0 0 0 50px white inset; /* Change the color to your own background color */
    -webkit-text-fill-color: $text_dark;
}

input[type=range] {
  -webkit-appearance: none;
  margin: 18px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  animate: 0.2s;
  background: $shader_light;
  border-radius: 2px;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 2px $shader;
  height: 30px;
  width: 30px;
  border-radius: 15px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -11px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: $shader_light;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  animate: 0.2s;
  background: $shader_light;
  border-radius: 2px;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 2px $shader;
  height: 30px;
  width: 30px;
  border-radius: 15px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: $shader_light;
  border-radius: 2px;
}
input[type=range]::-ms-fill-upper {
  background: $shader_light;
  border-radius: 2px;
}
input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 2px $shader;
  height: 30px;
  width: 30px;
  border-radius: 15px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: $shader_light;
}
input[type=range]:focus::-ms-fill-upper {
  background: $shader_light;
}
.slider_value_wrapper{
	line-height: 44px;
	font-size: 18px;
	font-weight: bold;
}

.slider_value_wrapper.long{
  line-height: normal;
  font-size: 16px;
  font-weight: normal;
}

.translucent{
  opacity: 0.5;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}

//calendar
.calendar{
  border-color: $text_light;
  border-style: solid;
  border-width: 1px 1px 0 0;
  float: none;

  .calendar_day{
    border-color: $text_light;
    border-style: solid;
    border-width: 0 0 1px 1px;
  }

  .calendar_week{

    .calendar_day{
      min-height: 100px;
      padding-top: 5px;

      .planner_workout .close{
        display: block;
      }
    }
  }
}

.planner_workout{
  cursor: pointer;
  .close{
    display: none;
  }
}

.draggable{
  cursor: -webkit-grab;
}

.sortable_table tbody tr{
  cursor: move;
}

.field_with_errors {
  color: #d9534f;
}

.side_scrolling {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;

  * {
    white-space: normal;
  }
}

.message_title {
  font-size: 20px;
  font-weight: bold;
}

a.message_title:visited{
  color: $cyan_light;
}

.message_score {
  color: $text_medium;
  font-weight: bold;
}

.time_ago {
  color: $text_light;
}

.message_reply {
  padding-left: 10px;
  border-left: 1px dotted #cccccc;
  margin-bottom: 20px;
}

.message_reply:last-child {
  margin-bottom: 0px;
}

.message_direct_reply > .message_reply {
  border: none;
}

.message_replies {
  margin-top: 20px;
}

.voting_area {
  font-size: 16px;
  font-weight: bold;
  color: $text_medium;
  text-align: center;
  margin-top: 12px;

  a, a:visited {
    color: $text_medium;
    display: inline-block;
  }

  a.upvoted {
    color: $cyan;
  }

  a.downvoted {
    color: $orange;
  }
}

.voting_area.voting_area_inline, .voting_area.voting_area_button, .voting_area.voting_area_button_small {
  margin-top: 0px;
  font-weight: normal;
  display: inline-block;
}

.voting_area.large {
  font-size: 20px;
  font-weight: bold;
  margin-top: 24px;
}

.article {
  font-size: 18px;
}



/* ============ Header Area */

#wrapper{
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -40px;
  padding-bottom: 20px;
}

#header_area{
  background-color: $cyan;
  border-bottom: 5px solid $cyan_dark;
  padding: 10px 0;
  color: $white;

    .navbar-default{
      border: none;
      background: none;

      .navbar-collapse{
        border: none;
      }

      .navbar-toggle{
        background-color: $white;
        border: none;

        .icon-bar{
          background-color: $cyan;
        }
      }

    }

}

#home_link{
  display: inline-block;
}

#logo{
  max-height: 75px;
  margin-right: 10px;
}

#site_title{
  margin: 0px;
  font-size: 30px;
}

#inbox_link {
  font-size: 18px;
  padding-left: 0;
  padding-right: 0;
}

#notice_area{
  margin-bottom: 50px;
}

#footer_push{
  height: 40px;
}

#site_footer{
  height: 40px;
  background-color: $cyan;
  color: $white;

  a{
    display: inline-block;
    line-height: 40px;
    color: $white;
    margin: 0px 20px;
  }

  a:hover{
    text-decoration: underline;
  }
}

@media (min-width: $screen-sm-min) {

  .row-eq-height-sm {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
  }

  .col-sm-1.calendar_day{
    width: 14.28571428%;
    padding-left: 5px;
    padding-right: 5px;
  }

  #header_area{
    .navbar-default{
      margin: 5px 0 5px 0;

      .navbar-collapse{

        ul.nav{

          > li:first-child{
            margin-left: 0px;
          }

          > li{
            font-size: 18px;
            font-weight: bold;
            margin-left: 15px;
            margin-bottom: 10px;
            color: $white;

            > a{
              background-color: $shader_hover;
              color: $white;
              @include border-radius(5px);
            }

            > a.orange{
              color: $orange;
            }

            > a:hover{
              background-color: $shader_light;
            }

            > a.no_bg, a.no_bg:hover{
              background: none;
            }
          }

          > li.active{
            > a{
              background-color: $white;
              color: $cyan;
            }
          }
        }

        ul.nav.navbar-right{
          > li{
            font-size: 14px;
          }
        }
      }

    }
  }

  .carousel-caption {
    padding-left: 20%;
    padding-right: 20%;
  }
}

@media (max-width: $screen-xs-max) {
  #site_title{
    font-size: 24px;
  }

  #home_link{
    margin-top: 5px;
  }

  #logo{
    max-height: 40px;
  }

  #header_area{
    padding: 10px 0;

    .navbar-default{
      margin: 0;

      .navbar-collapse{
        background-color: $background_light;
      }
    }

  }
}
