<h2>Edit Profile</h2>

<div class="profile_edit">
  <%= render "edit" %>
</div>

<div class="modal fade" id="coach_modal" tabindex="-1" role="dialog" aria-labelledby="coachModal">

</div>

<div class="modal fade" id="mountain_project_modal" tabindex="-1" role="dialog" aria-labelledby="mountainProjectModal">

</div>
