<div class="row">
  <div class="col-xs-12">
    <h1>My Progress</h1>
  </div>
</div>

<div class="row large_margin_top margin_bottom">
  <div class="col-sm-12">
    <h3>Workout Progress</h3>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= @workout.label %></h3>
      </div>
      <div class="panel-body">
          <div class="build_many_lines" data-line-data='<%= @workout_progress %>'></div>
      </div>
    </div>
  </div>
</div>
