<div class="row">
  <div class="col-xs-12">
    <h1>Profile</h1>
  </div>
</div>

<div class="row large_margin_top margin_bottom">
  <div class="col-xs-12">
    <h3>Badges</h3>
    <% @badges.each do |category, badges| %>
      <div class="row">
        <h3><%= category %></h3>
        <% badges.each do |badge| %>
          <div class="col-sm-1 badge_holder <%= 'translucent' unless @user_badge_types.include?(badge[:type]) %>">
            <div class="badge_display">
              <%= badge[:type] %>
              <h4 class="text-center"><%= badge[:title] %></h4>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
